.stranger-things-container {
  background-image: url('./st-background.jpg');
  padding: 20px 0 30px 0; 
  min-height: calc(100vh - 60.95px - 56px);
  cursor: pointer;
}

.stranger-things-title {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;

  img {
    width: 20%;
    max-width: 40rem;
    height: auto;
    padding-inline: 1rem;
  }
}

.pagination-container-st {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 10px;
  flex-wrap: wrap; // Permite que los botones se ajusten en varias líneas si el espacio es limitado

  .pagination-button {
    background-color: #c22003;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;

    &:hover {
      background-color: #d47037;
      color: #000;
    }

    &.active {
      background-color: #d46337;
      color: #000;
      font-weight: bold;
    }

    &:disabled {
      background-color: #a5a5a5;
      cursor: not-allowed;
    }
  }
}